.AppInput {
  position: relative;

  .label {
    font-size: 14px;
    color: var(--inverted-primary-color);
  }

  .input {
    padding: 4px;
    border: 1px solid var(--inverted-primary-color);
    border-radius: 8px;
    background-color: var(--inverted-bg-color);
    color: var(--bg-color);
    font-size: 14px;
  }

  .input[readonly] {
    outline: none;
    filter: opacity(.8);
  }
}

