@import url(./reset.scss);
@import url(./variables/global.scss);
@import url(./themes/normal.scss);
@import url(./themes/dark.scss);

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
  width: 100vw;
}

.content-page {
  display: flex;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

h1, h2, h3 {
  padding-top: 16px;
  padding-bottom: 8px;
}

/* Scrollbar styling */

.scrollable {
  /* Firefox */
  scrollbar-width: 12px;
  scrollbar-color: var(--inverted-bg-color) var(--bg-color);

  &::-webkit-scrollbar {
    /* Chrome, Safari, Edge */
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--inverted-bg-color);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    border-radius: 8px;
  }
}