@import url(./reset.scss);
@import url(./variables/global.scss);
@import url(./themes/normal.scss);
@import url(./themes/dark.scss);

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
  width: 100vw;
}

.content-page {
  display: flex;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

.page-wrapper {
  --page-wrapper-padding: 16px;

  flex-grow: 1;
  padding: var(--page-wrapper-padding);
  height: 100%;
  width: 200px;
  overflow-y: scroll;
}

h1, h2, h3 {
  padding-top: 16px;
  padding-bottom: 8px;
}