:root {
  --font-family-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  --font-size-m: 16px;
  --font-size-l: 24px;

  --font-line-m: 24px;
  --font-line-l: 32px;

  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  
  --button-size-m: 24px;
  --button-size-l: 32px;

  --navbar-height: 48px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 32px;
}