.ArticleEditor {
  --article-editor-border-radius: 4px;

  background-color: rgba(var(--inverted-bg-color-values), .1);
  border-radius: var(--article-editor-border-radius);
  max-width: var(--page-content-max-width);
  margin: 0 auto;
}