.MessageBox {
  position: absolute;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
  max-width: min(90vw, 400px);
}

.title {
  color: var(--primary-color);
}

.message {
  color: var(--secondary-color);
}

.button {
  position: relative;
  padding-inline: 16px;
  border-radius: 4px;
  right: -100%;
  transform: translateX(-100%);
}

.content {
  display: flex;
  padding: 16px 8px;
  gap: 8px;
}

.icon {
  width: 32px;
  height: 32px;
  font-size: 24px;
}