.Modal {
  min-width: 200px;
  min-height: 100px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  backdrop-filter: blur(.5px);
}