.ArticleDetailsPage {
  --page-padding-inline: 4vw;

  max-width: var(--page-content-max-width);
  margin: 0 auto;
  padding-inline: var(--page-padding-inline);
}

.back {
  --shift: calc(var(--page-wrapper-padding) * -1);

  position: sticky;
  top: var(--shift);
  margin-left: var(--shift);
  margin-top: var(--shift);
  width: fit-content;
  height: fit-content;
  background-color: var(--inverted-bg-color);
  padding-inline: 8px;
  z-index: 1;
}

.edit {
  --shift: calc(var(--page-wrapper-padding) * -1);

  position: sticky;
  top: var(--shift);
  left: 100%;
  margin-top: calc(var(--shift) * 2);
  width: fit-content;
  height: fit-content;
  background-color: var(--inverted-bg-color);
  padding-inline: 8px;
  z-index: 1;
}