.Sidebar {
  flex-shrink: 0;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width .2s ease-out;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}