.Sidebar {
  flex-shrink: 0;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width .2s ease-out;
  box-shadow: 0px 0px 4px rgba(var(--bg-color-values), .2);
  z-index: 2;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    justify-content: center;
    width: var(--sidebar-width-collapsed);
    transform: translateX(-100%);
    transition: transform .2s ease-out, width .5s ease-out;
  }
}

.toggle-button {
  position: absolute;
  right: 0;
  border-radius: 0;
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.sidebar-items {
  padding: var(--sidebar-width-collapsed);
}