.ArticleList {
  --item-width: 250px;
  --max-item-width: 300px;

  display: grid;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 32px 0;
  width: 100%;
}

.ArticleList.virtualized {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;

  .items {
    margin: 64px auto;
  }

  .virtualized-grid {
    display: grid;
    justify-content: center;
    align-items: stretch;
    padding-inline: 5vw;
    gap: 32px 0;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), var(--max-item-width)));
  }
}

.ArticleList.tiles {
  grid-template-columns: repeat(auto-fill, var(--item-width));
}

.ArticleList.list-items {
  justify-items: center;
  grid-template-columns: 100%;
}

.ArticleList.row {
  grid-template-columns: repeat(auto-fill, var(--item-width));
  grid-auto-flow: column;
  grid-auto-columns: var(--item-width);
  gap: 32px;
  padding: 8px 16px 32px 16px;
  overflow-x: auto;
  justify-content: start;
}