.ArticleList {
  --item-width: 250px;

  display: grid;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 32px 0;
  width: 100%;
}

.ArticleList.tiles {
  grid-template-columns: repeat(auto-fill, var(--item-width));
}

.ArticleList.list-items {
  justify-items: center;
  grid-template-columns: 100%;
}

.ArticleList.row {
  grid-template-columns: repeat(auto-fill, var(--item-width));
  grid-auto-flow: column;
  grid-auto-columns: var(--item-width);
  gap: 32px;
  padding: 8px 16px 32px 16px;
  overflow-x: auto;
  justify-content: start;
}

/* Scrollbar styling */

.ArticleList {
  /* Firefox */
  scrollbar-width: 16px;
  scrollbar-color: var(--inverted-bg-color) var(--bg-color);
}

.ArticleList::-webkit-scrollbar {
  /* Chrome, Safari, Edge */
  width: 16px;
  height: 16px;
}

.ArticleList::-webkit-scrollbar-thumb {
  background-color: var(--inverted-bg-color);
}

.ArticleList::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}