.SigninForm {
  position: relative;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 16px var(--bg-color);
  width: 300px; 
  background-color: var(--inverted-bg-color);
  animation: scale-in 0.1s ease-in-out;
}

.close-button {
  border-radius: 16px;
}

.closing {
  animation: scale-out 0.1s ease-in-out forwards;
}

.error {
  color: var(--error-color);
  font-size: 12px;
  margin-bottom: 8px;
}

.submit {
  margin-top: 8px;
}

.input:focus-visible {
  outline: 2px solid var(--bg-color);
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}