.SigninForm {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 16px var(--bg-color);
  width: 300px; 
  background-color: var(--inverted-bg-color);
  animation: scale-in 0.1s ease-in-out;
}

.close-button {
  border-radius: 16px;
}

.closing {
  animation: scale-out 0.1s ease-in-out forwards;
}

.label {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  color: var(--inverted-primary-color);
}

.input {
  padding: 4px;
  margin-bottom: 12px;
  border: 1px solid var(--inverted-primary-color);
  border-radius: 8px;
  background-color: var(--inverted-bg-color);
  color: var(--bg-color);
  font-size: 14px;
}

.submit {
  margin-top: 8px;
}

.input:focus-visible {
  outline: 2px solid var(--bg-color);
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}