.ArticleCard {
  --border-radius: 16px;
  --padding: 8px;
  --shadow-opacity: .2;

  display: block;
  position: relative;
  min-height: 300px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(var(--inverted-bg-color-values), var(--shadow-opacity));
  text-wrap-mode: wrap;

  .img {
    width: calc(100% + var(--padding) * 2);
    min-height: 180px;
    height: 250px;
    object-fit: cover;
    margin-left: calc(var(--padding) * -1);
    margin-top: calc(var(--padding) * -1);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transform: scale(1.2);
    transition: transform .1s ease-out;
  }

  .title {
    background-color: rgba(var(--bg-color-values), .8);
    padding: var(--padding);
    border-top-left-radius: var(--padding);
    border-top-right-radius: var(--padding);
    font-weight: 550;
    font-size: 20px;
  }

  .tag {
    display: inline;
    margin: 2px;
    font-size: 10px;
    font-weight: 550;
    color: var(--secondary-color);
    padding: 2px;
    background-color: rgba(70, 131, 180, 0.2);
    border-radius: 2px;
  }

  &:hover {
    --shadow-opacity: .4;

    filter: none;

    .img {
      transform: scale(1);
    }
  }
}

.ArticleCard.row {
  width: var(--item-width);
  max-width: 300px;
  .img {
    height: 120px;
  }
}

.ArticleCard.tiles {
  width: var(--item-width);
  max-width: 300px;
  height: 100%;
}

.ArticleCard.list-items {
  --padding: 16px;

  width: 100%;
  max-width: 900px;
  height: fit-content;

  .img {
    transform: scale(1.5);
    height: 180px;
  }

  .tag {
    position: relative;
    bottom: 0;
  }

  .excerpt {
    margin-top: 8px;
    text-indent: var(--padding);
    height: 100px;
    overflow: hidden;
  }

  .more {
    width: fit-content;
    margin-left: auto;
    background-color: var(--inverted-bg-color);
    padding-inline: 8px;
    border-radius: 8px;
  }

  .ellipsis {
    position: absolute;
    width: fit-content;
    padding-inline: 32px;
    transform: translateY(-110%);
    right: var(--padding);
    background: linear-gradient(-90deg, var(--bg-color) 70%, rgba(0, 0, 0, 0));
  }

  &:hover {
    --shadow-opacity: .2;

    .img {
      transform: scale(1);
    }
  }
}