.ArticleCard {
  --border-radius: 16px;
  --padding: 8px;
  --shadow-opacity: .2;

  display: block;
  position: relative;
  width: var(--item-width);
  min-height: 300px;
  height: fit-content;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(var(--inverted-bg-color-values), var(--shadow-opacity));
  text-wrap-mode: wrap;

  .img {
    width: calc(100% + var(--padding) * 2);
    height: 70%;
    object-fit: cover;
    margin-left: calc(var(--padding) * -1);
    margin-top: calc(var(--padding) * -1);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transform: scale(1.2);
    transition: transform .1s ease-out;
  }

  .title {
    background-color: rgba(var(--bg-color-values), .8);
    padding-inline: var(--padding);
    border-top-left-radius: var(--padding);
    border-top-right-radius: var(--padding);
    font-weight: 550;
  }

  .tag {
    display: inline;
    margin: 2px;
    font-size: 10px;
    font-weight: 550;
    color: var(--secondary-color);
    padding: 2px;
    background-color: rgba(70, 131, 180, 0.2);
    border-radius: 2px;
  }

  .views, .date {
    position: absolute;
    border-radius: 8px;
    padding-inline: 4px;
    font-size: 12px;
    background-color: rgba(var(--bg-color-values), 0.8);
    z-index: 1;
  }

  .date {
    right: var(--padding);
  }

  &:hover {
    --shadow-opacity: .4;

    filter: none;

    .img {
      transform: scale(1);
    }
  }
}