.AddCommentForm {
  position: relative;
  padding: 8px;
  margin: 8px;
  margin-top: 36px;
  background: rgba(steelblue, 0.2);
  border-radius: 8px 8px 14px 8px;
  border: .5px solid steelblue;

  .sendBtn {
    display: block;
    margin-left: auto;
  }

  .title {
    font-weight: 550;
    font-size: 18px;
    position: absolute;
    top: -28px;
  }

  .comment {
    clear: both;
  }

  .user {
    font-weight: 550;
    font-size: 14px;
    color: var(--secondary-color);
    width: fit-content;
  }

  .avatar {
    margin-right: 8px;
  }
}