.ArticlesPage {
  max-width: var(--page-content-max-width);
  margin: 0 auto;

  .panel {
    padding: 8px;
    border-radius: 8px;
    position: sticky;
    top: 0;
    transform: translateY(calc(var(--page-wrapper-padding) * -1 - 1px));
    margin-bottom: var(--page-wrapper-padding);

    background-color: rgba(var(--inverted-bg-color-values), .6);
    backdrop-filter: blur(8px);
    z-index: 2;
  }
}