.app.dark {
  --bg-color: rgb(29, 53, 72);
  --inverted-bg-color: rgb(194, 228, 255);

  --primary-color: goldenrod;
  --inverted-primary-color: rgb(46, 35, 6);
  --secondary-color: gold;

  --error-color: rgb(255, 102, 102);
}