.app.light {
  --bg-color-values: 194, 228, 255;
  --inverted-bg-color-values: 29, 53, 72;

  --bg-color: rgb(var(--bg-color-values));
  --inverted-bg-color: rgb(var(--inverted-bg-color-values));

  --primary-color: rgb(46, 35, 6);
  --inverted-primary-color: goldenrod;
  --secondary-color: rgb(74, 63, 0);

  --error-color: rgb(255, 102, 102);
}