.app.light {
  --bg-color: rgb(194, 228, 255);
  --inverted-bg-color: rgb(29, 53, 72);

  --primary-color: rgb(46, 35, 6);
  --inverted-primary-color: goldenrod;
  --secondary-color: rgb(74, 63, 0);
}