.AppSelect {
  position: relative;
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    gap: 4px;
    align-items: center;
    flex-direction: row;
  }

  .label {
/*     margin-top: 8px;
    margin-bottom: 4px; */
    font-size: 14px;
    color: var(--inverted-primary-color);
  }

  .select {
    padding: 8px 4px;
/*     margin-bottom: 12px; */
    border: 1px solid var(--inverted-primary-color);
    border-radius: 8px;
    background-color: var(--inverted-bg-color);
    color: var(--bg-color);
    font-size: 14px;
  }

  .select[disabled] {
    outline: none;
    filter: opacity(.8);
  }
}

