.AppButton {
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  min-width: fit-content;
}

.AppButton:not(.square).size-l {
  padding: 0 16px;
}

.AppButton:not(.square).size-m {
  padding: 0 8px;
}

.AppButton:hover {
  filter: brightness(1.3);
}

.AppButton:disabled {
  cursor: not-allowed;
  filter: opacity(.6);
}

.square.size-m {
  width: var(--button-size-m);
  height: var(--button-size-m);
}

.square.size-l {
  width: var(--button-size-l);
  height: var(--button-size-l);
}

.size-m {
  height: var(--button-size-m);
}

.size-l {
  height: var(--button-size-l);
}
