.AppButton {
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.AppButton:hover {
  filter: brightness(1.3);
}

.square.size-m {
  width: var(--button-size-m);
  height: var(--button-size-m);
}

.square.size-l {
  width: var(--button-size-l);
  height: var(--button-size-l);
}
